<div class="container panel" *ngIf="state==2 || state==1">
    <div class="panel-heading">
        <h2>New criterea</h2>
    </div>
    <div class="panel body">
        <form [formGroup]="critereaForm" novalidate>
            <div class="form-group">
                <label>Criterea</label>
                <input type="text" class="form-control" formControlName="name">
            </div>

            <div formArrayName="advices">
                <div class="container panel" style="background-color: lavender ">
                    <div class="panel-heading">
                        <div class="row" style="margin-bottom: 10px">
                            <div class="col-md-1"> Grade </div>
                            <div class="col-md-1" data-toggle="tooltip" data-placement="top" title="% of students that furfill the requriements for the grade">
                            Top </div>
                            <div class="col-md-3"> Advice </div>
                        </div>
                    </div>
                    <div *ngFor="let ctrl of critereaForm.controls.advices.controls; let i=index" class="row panel-body" style="padding : 5px">
                        <div [formGroupName]="i">
                            <div class="col-md-1">
                                <input type="text" class="form-control" formControlName="grade" disabled >
                            </div>
                            <div class="col-md-1">
                                <input type="text" class="form-control" formControlName="top" disabled >
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea type="text" class="form-control" formControlName="text"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="btn-group pull-right" role="group">
            <button type="button" class="btn btn-primary" (click)="save()">
                Save
            </button>
            <button type="button" class="btn btn-danger" (click)="cancel()">
                Cancel
            </button>
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let criterea of critereaList; let i=index">
                <td>{{criterea.name}} </td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" (click)="edit(criterea.id)">
                            Edit
                        </button>
                        <!--<button type="button" class="btn btn-danger" (click)="remove(criterea.id)">
                            Remove
                        </button>-->
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="clearfix"></div>
<div class="btn-group pull-right" role="group">
    <button type="button" class="btn btn-success" (click)="add()">
        Add criterea
    </button>
</div>

<div class="clearfix"></div>
<div class="margin-20">
    <div>Form</div>
    <pre>form value: <br>{{critereaForm.value | json}}</pre>
</div>