<table class="table table-hover">
    <thead>
        <tr>
            <th> Course </th>
            <th> Date </th>
            <th> Status </th>
            <th> Options </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let examy of examlist">
            <td>{{examy.course.code}} - {{examy.course.name}} </td>
            <td>{{examy.date | date:"dd.MM.yyyy"}}</td>
            <td>{{examy.status}} </td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary">Edit</button>
                    <button type="button" class="btn btn-default">Censor</button>
                    <button type="button" class="btn btn-info">Grade</button>
                    <button type="button" class="btn btn-info">Generate reports</button>
                    <button type="button" class="btn btn-success">Export for analysis</button>
                    <button type="button" class="btn btn-success">Export exam</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="clearfix"></div>
<div class="margin-20">
    <div>Raw data</div>
    <pre>Is myForm valid?: <br>{{examlist | json}}</pre>
    <pre>Is myForm valid?: <br>{{currentUser | json}}</pre>
</div>