<table class="table table-hover">
    <thead>
        <tr>
            <th> Course </th>
            <th> Date </th>
            <th> Evaluations </th>
            <th> Options </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>INF2220 - Algorithms and Data Structures</td>
            <td>01.01.2017</td>
            <td>56</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-info">Analyse</button>
                    <button type="button" class="btn btn-success">Export</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>INF2220 - Algorithms and Data Structures</td>
            <td>05.07.2017</td>
            <td>80</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">Evaluate</button>
                    <button type="button" class="btn btn-info">Grade</button>
                    <button type="button" class="btn btn-success">Export</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>INF2220 - Algorithms and Data Structures</td>
            <td>01.09.2017</td>
            <td>4</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary">Edit</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>