<div>
    <h2>Create new exam</h2>
    <form [formGroup]="examForm" novalidate (ngSubmit)="save(examForm)">

        <div class="form-group">
            <label>Date</label>
            <input type="datetime-local" class="form-control" formControlName="date">
        </div>

        <div class="form-group">
            <label>Course code</label>
            <select formControlName="courseID" class="form-control">
                <option *ngFor="let item of courses" [value]="item.id" >{{ item.code }}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Langugage</label>
            <input type="text" class="form-control" formControlName="language">
        </div>

        <div formArrayName="generalCritereas" class="border">
            <div *ngFor="let criterea of examForm.controls.generalCritereas.controls; let i=index">
                <div [formGroupName]="i">
                    <div class="form-group">
                        <label>General criterea</label>
                        <input type="text" class="form-control" formControlName="name">
                    </div>


                    <div class="container">
                        <div class="col-md-1"> Id </div>
                        <div class="col-md-2"> Grade </div>
                        <div class="col-md-4"> Advice </div>
                        <div class="col-md-2"> Minimum </div>
                        <div class="col-md-2"> Maximum </div>
                    </div>

                    <div *ngFor="let advice of examForm.controls['generalCritereas'].controls[i].controls.advices.controls; let j=index" class="row"
                        style="margin-bottom: 10px">
                        <div [formGroupName]="j">
                            <div class="col-md-1"> {{ advice.value.id }} </div>
                            <advice [group]="advice"></advice>

                            <div class="col-md-1">
                                <button type="button" class="form-control" class="btn btn-danger" *ngIf="examForm.controls.generalCritereas.controls.length > 1"
                                    (click)="removeTopic(i)">
                                    Remove 
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="margin-20">
                        <button type="button" class="btn btn-success" (click)="addAdvice(i)">
                            Add advice
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="margin-20">
            <button type="button" class="btn btn-success" (click)="addGeneralCriterea()">
                    Add add criterea
                </button>
        </div>


        <div class="form-group pull-right">
            <button [disabled]="loading" class="btn btn-primary">Next</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            />
            <a [routerLink]="['/exam']" class="btn btn-link">Cancel</a>
        </div>

    </form>

    <div class="clearfix"></div>
    <div class="margin-20">
        <div>Raw data</div>
        <pre>Is myForm valid?: <br>{{examForm.valid | json}}</pre>
        <pre>form value: <br>{{examForm.value | json}}</pre>
        <pre>User value: <br>{{currentUser | json}}</pre>
    </div>
</div>