<div class="container panel">
    <h2>Create new exam</h2>
    <form [formGroup]="examForm" novalidate>
        <!--(ngSubmit)="save(examForm)"-->

        <div class="form-group">
            <label>Date</label>
            <input type="datetime-local" class="form-control" formControlName="date">
        </div>

        <div class="form-group">
            <label>Course code</label>
            <select formControlName="courseID" class="form-control">
                <option *ngFor="let item of courses" [value]="item.id" >{{ item.code }}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Langugage</label>
            <input type="text" class="form-control" formControlName="language">
        </div>

        <div formArrayName="generalCritereas">
            <div *ngFor="let criterea of examForm.controls.generalCritereas.controls; let i=index" class="container panel" style="background-color: lavender ">
                <div [formGroupName]="i">
                    <generalCriterea [group]="criterea"></generalCriterea>
                </div>

                <div class="margin-20 pull-right">
                    <button type="button" class="form-control" class="btn btn-danger " *ngIf="examForm.controls.generalCritereas.controls.length > 1"
                        (click)="removeCriterea(i)">
                        Remove 
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="btn-group pull-right" role="group">
            <button type="button" class="btn btn-primary" >
                    Add existing
                </button>
            <button type="button" class="btn btn-success" (click)="addGeneralCriterea()">
                    Add criterea
                </button>
        </div>

        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>General criterea</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let criterea of examForm.value.generalCritereas; let i=index">
                        <td>{{criterea.name}} </td>
                        <td> <button type="button" class="form-control" class="btn btn-danger " *ngIf="examForm.controls.generalCritereas.controls.length > 1"
                                (click)="removeCriterea(i)">
                        Remove 
                    </button></td>
                    </tr>
                </tbody>
            </table>
        </div>



    </form>

    <div class="form-group pull-right">
        <button class="btn btn-primary" [routerLink]="['/exam/create/1/question']">Next</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
    />
        <a [routerLink]="['/exam']" class="btn btn-link">Cancel</a>
    </div>

    <div class="clearfix"></div>
    <div class="margin-20">
        <div>Raw data</div>
        <pre>Is myForm valid?: <br>{{examForm.valid | json}}</pre>
        <pre>form value: <br>{{examForm.value | json}}</pre>
        <pre>User value: <br>{{currentUser | json}}</pre>
    </div>
</div>